<%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="container mt-5">
    
    <h1 class="display-2">Home Page</h1>

    <div>
        <a href="http://localhost:8080/r/soccer">r/Soccer</a>
    </div>

    <div>
        <a href="http://localhost:8080/r/chickens">r/Chickens</a>
    </div>

    <div>
        <a href="http://localhost:8080/r/mightyharvest">r/MightyHarvest</a>
    </div>

</div>


<%- include('partials/footer')%>
